* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 120px;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;

}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    cursor: pointer;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    font-weight: 600px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius:4px;
}
.banner{
    text-align: center;
    padding: 115.5px 105px 179.5px 120px;
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1600px;
    height: 674px;
}

/* .banner-content .upper-p{
    color: #469165;
    padding: 8px 12px 8px 34px;
    font-weight: 600;
    font-size: 16px;
    background-color: #FFFFFF;
    margin: 0 573px;
    width: 229px;
    height: 35px;
} */
.banner-content .upper-p{
    display: flex;
    flex-direction: column;
    margin: 0 573px;
    width: 240px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 9px;
    align-items: center;
}
.banner-content .upper-p p{
    color: #469165;
    padding: 8px 12px 8px 34px;
    font-weight: 600;
    font-size: 16px;
}
.banner-content h1{
    font-size: 72px;
    font-weight:bold;
    color: #fff;
    line-height: 84px;
    padding: 16px 302.5px 16px 302.5px;
    
}
.banner-content span{
    color: #30B868;
}
.banner-content p{
    color: #FFFFFF;
    line-height: 24px;
    font-size: 18px;
    word-wrap: normal;
    padding: 0px 302.5px 32px 302.5px;
}
.banner-button{
    gap: 16px;
    text-decoration: none;
    color: #FFFFFF;
}
.banner-button button{
    border: none;
    padding: 12.5px 16px;
    font-weight: 600px;
    font-size: 16px;
    cursor: pointer;
    border-radius:4px;
}
.container {
    text-align: center;
    
}
/* .container .info-content{
    padding: 0px 120px 44px 120px;
} */
.container .info-content .content h3{
    padding-top: 30px;
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 16px;
}
.container .info-content .content p {
    line-height: 20px;
    font-size: 18px;
    color: #627382;
}
.info-content .card-container{
    padding: 44px 120px 0px 120px;
    display: flex;
    gap: 24px;

}
.info-content .card-container .card{
    box-shadow: 0 6px 50px 0 #00000011;
}
.info-content .card-container .card .image{
    color: #F95555;
    width: 80px;
    height: 80px;
    padding: 69.5px 131px 16px 131px;
}
.info-content .card-container .card h2{
    font-size: 24px;
    font-weight: 700px;
    color: #001931;
    margin:16px 24px 16px 24px;
}
.info-content .card-container .card p{
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    padding: 0px 24px 69.5px 24px;
}